*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
   /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'),        
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'); /* Modern Browsers */
}
.what_saying{   
    height: 600px;
    width: 100%;
}
.what_saying h2{
    padding-top: 80px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: "Raleway","Arial", sans-serif;
    padding-bottom: 34px;
    text-transform: uppercase;
}
.what_saying hr{
    margin: auto;  
    width:64px;
    height: 2px;
    background-color: #E72424;
}
.what_saying p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-top: 34px;
    text-align: center;   
    line-height: 19px;      
}
.saying_info{
    display: flex;
    justify-content: center;
    box-sizing:border-box;  
    list-style: none;  
    font-family: "Open Sans", sans-serif; 
    font-style: normal;
}
.kards_saying{    
    margin-top: 67px;
    width: 298px;
    margin-right: 80px;
}
.kards_saying:last-child{ 
    margin-right: 0;
}
.saying{
    width: 298px;
    min-height:110px;
    background-color: #E2E2E2;
    border-radius: 7px;    
}
.kards_saying li{
    float: left;    
}
.saying p{
    padding-top: 15px;    
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}
.foto_name_user{
    width: 100%;
    padding-top: 22px;
    display: flex; 
}     
.foto_name_user img{
    border-radius: 50%;   
    margin-left: 25px;   
    width: 70px;
    height: 70px;   
}
.name_user h5{    
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;      
    color: #333333;
    padding-top: 10px;        
    margin-left: 45px;     
}
.name_user p{    
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    padding-top: 12px;      
    margin-left: 45px;      
}